@font-face {
    font-family: "Montserrat";
    src: url(/src/font/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

html, body {
    font-size: 19.3px;
    color: rgba(0, 0, 0, .87);
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

.social a {
    border-color: black;
}