@font-face {
    font-family: "Montserrat";
    src: url(/src/font/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

html, body {
    font-size: 19.3px;
    color: rgba(0, 0, 0, .87);
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

.navbar {
    background: rgb(145, 145, 145);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    height: 76px;
    width: auto;
    position: fixed;
    padding-left: 30px;
    padding-right: 61px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar a {
    color: #353535;
    font-weight: 700;
    display: inline;
}

.navbar .nav-links ul li a::after {
    content: "";
    display: block;
    height: 2px;
    background: rgb(255, 255, 255);
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.navbar .nav-links ul li a:hover::after {
    transform: scale(1);
}

.navbar .logo {
    transform: none;
    font-weight: 700;
}

.navbar .nav-links ul {
    display: flex;
    align-items: center;
}

.navbar .nav-links ul li {
    display: flex;
    margin: 0 25px;
}

.navbar .nav-links ul li img {
    display: flex;
    padding: -20px;
    margin-left: -23px;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 22px;
    right: 30px;
    width: 30px;
}

.logo 

.social a {
    border: solid;
}

@media  screen and (max-width: 425px) {
    .nav-links {
        position: absolute;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
    }
    
    .navbar .menu-hamburger {
        display: block;
    }
}